*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Networking/Advanced/MulticastSnifferSample/nbproject/private/
/Networking/Advanced/MulticastSnifferSample/build/
/Networking/Advanced/MulticastSnifferSample/dist/
/Networking/Advanced/MulticastSenderSample/nbproject/private/
/Networking/Advanced/MulticastSenderSample/build/
/Networking/Advanced/MulticastSenderSample/dist/
/metaprogramming/antrl4/01-install/HelloAntlr4/target/
/metaprogramming/antrl4/01-install/HelloAntlr4/nbproject/private/
/metaprogramming/antrl4/01-install/HelloAntlr4/build/
/metaprogramming/antrl4/01-install/HelloAntlr4/dist/
/metaprogramming/antrl4/02-starter/ArrayInitTest/nbproject/private/
/metaprogramming/antrl4/02-starter/ArrayInitTest/build/
.idea/
/metaprogramming/antrl4/02-starter/ArrayInitTranslator/nbproject/private/
/metaprogramming/antrl4/02-starter/ArrayInitTranslator/dist/
/metaprogramming/antrl4/02-starter/ArrayInitTranslator/build/
/metaprogramming/antrl4/03-tour/simple_calc/calc-g4-test/nbproject/private/
/metaprogramming/antrl4/03-tour/simple_calc/calc-g4-test/dist/
/metaprogramming/antrl4/03-tour/simple_calc/calc-g4-test/build/
