/* 
    Document   : Chart
    Created on : 31.05.2012, 9:00:44
    Author     : oracle_pr1
    Description:
        Purpose of the stylesheet follows.
*/

root
{
   display: block;
}

.chart-symbol
{
   -fx-stroke: #a9e200;
   -fx-shape: "M0,4 L2,4 L4,8 L7,0 L9,0 L4,11 Z";
}