/* 
    Document   : controlStyle1
    Created on : 01.06.2012, 16:21:06
    Author     : oracle_pr1
    Description:
        Purpose of the stylesheet follows.
*/

.root
{
   display: block;
   -fx-font-size: 14pt;
   -fx-font-family: "Tahoma";
   -fx-base: #DFB951;
   -fx-background: #A78732;
   -fx-focus-color: #B6A678;
}

.button1
{
   -fx-text-fill: #006464;
   -fx-background-color: #DFB951;
   -fx-border-radius: 20;
   -fx-background-radius: 20;
   -fx-padding: 5;
}

.button2
{
   -fx-text-fill: #c10000;
   -fx-background-color: #DFB951;
   -fx-border-radius: 20;
   -fx-background-radius: 20;
   -fx-padding: 5;
}

.slider
{
   -fx-border-color: white;
   -fx-border-style: dashed;
   -fx-border-width: 2;
}