root {
   display: block;
}

.perEmployee {
   border: thin solid black;
}

.perEmployeeHeader {
   text-align: center;
   font-style: italic;
   color: snow;
   background: teal;
}

.oddColumn {
   height: 25px;
   text-align: center;
   background: mediumturquoise;
}

.evenColumn {
   text-align: center;
   background: powderblue;
}