<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostParametersServlet</servlet-name>
        <servlet-class>PostParametersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorPostServlet</servlet-name>
        <servlet-class>ColorPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCookieServlet</servlet-name>
        <servlet-class>AddCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>GetCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>DateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostParametersServlet</servlet-name>
        <url-pattern>/PostParametersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorPostServlet</servlet-name>
        <url-pattern>/ColorPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCookieServlet</servlet-name>
        <url-pattern>/AddCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/GetCookiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/DateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
