/* 
    Document   : controlStyle
    Created on : 17.04.2012, 12:13:02
    Author     : JavaFx
    Description:
        Purpose of the stylesheet follows.
*/

root
{
    display: block;
}

.separator
{
    -fx-background-color: #e79423;
    -fx-background-radius: 2;
}
