<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.inbox.dwinner.satellitesmovementapp"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:description="@string/app_desc"
            android:icon="@drawable/satellite_icon"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SplashScreenActivity"
                android:label="@string/title_activity_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="MenuScreenActivity">
        </activity>
        <activity android:name="StartScreenActivity">
        </activity>
        <activity android:name="SettingsScreenActivity">
        </activity>
        <activity android:name="AboutScreenActivity">
        </activity>
    </application>

</manifest>