<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0_07" class="java.beans.XMLDecoder">
 <object class="recipes.ProgramSettings">
  <void property="defaultFontColor">
   <object class="java.awt.Color">
    <int>0</int>
    <int>0</int>
    <int>255</int>
    <int>255</int>
   </object>
  </void>
  <void property="frameSize">
   <object class="java.awt.Dimension" id="Dimension0">
    <void class="java.awt.Dimension" method="getField">
     <string>width</string>
     <void method="set">
      <object idref="Dimension0">
       <void class="java.awt.Dimension" method="getField">
        <string>height</string>
        <void method="set">
         <object idref="Dimension0"/>
         <int>200</int>
        </void>
       </void>
      </object>
      <int>300</int>
     </void>
    </void>
   </object>
  </void>
  <void property="locationOnScreen">
   <object class="java.awt.Point" id="Point0">
    <void class="java.awt.Point" method="getField">
     <string>x</string>
     <void method="set">
      <object idref="Point0">
       <void class="java.awt.Point" method="getField">
        <string>y</string>
        <void method="set">
         <object idref="Point0"/>
         <int>10</int>
        </void>
       </void>
      </object>
      <int>10</int>
     </void>
    </void>
   </object>
  </void>
  <void property="title">
   <string>The title of the application</string>
  </void>
 </object>
</java>
